.lead {
	margin: 0 auto;
	width: 1280px;
	/* height: 1005px; */
  text-align: center;
}

@media (max-width: 1024px) {
	.lead {
		display: block;
		max-width: 928px;
	}
}

@media (max-width: 768px) {
	.lead {
		max-width: 768px;
	}
	
}