.header {
	display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 28px auto 48px;
}

@media (max-width: 1024px) {
	.header {
	margin: 28px auto 48px; 
	}
}

@media (max-width: 768px) {
	.header {
		max-width: 720px;
		margin: 28px auto 24px;
	}
}